workflow_multi_agentes.json
{
    "name": "Agente Cidadão - Multi-Agentes",
    "nodes": [
        {
            "parameters": {
                "path": "chat",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "tableId": "requests",
                "operation": "create",
                "columns": {
                    "user_query": "={{ $json.body.query }}",
                    "status": "orchestrating"
                }
            },
            "id": "supabase-init",
            "name": "Supabase: Init Request",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                200,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.MCP_API_URL }}/health",
                "method": "GET",
                "options": {}
            },
            "id": "llm-orchestrator",
            "name": "SETUP REQUIRED: Orquestrador",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.agentes }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "legislativo",
                            "output": 0
                        },
                        {
                            "value2": "politico",
                            "output": 1
                        },
                        {
                            "value2": "fiscal",
                            "output": 2
                        }
                    ]
                },
                "fallbackOutput": 3
            },
            "id": "router",
            "name": "Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "tableId": "agent_logs",
                "operation": "create",
                "columns": {
                    "request_id": "={{ $('Supabase: Init Request').item.json.id }}",
                    "agent_name": "Legislativo",
                    "message": "Iniciando análise legislativa...",
                    "status": "info"
                }
            },
            "id": "log-leg-start",
            "name": "Log: Leg Start",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                800,
                -100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.MCP_API_URL }}/health",
                "method": "GET",
                "options": {}
            },
            "id": "agent-legislativo",
            "name": "SETUP REQUIRED: Agente Legislativo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                -100
            ]
        },
        {
            "parameters": {
                "tableId": "agent_logs",
                "operation": "create",
                "columns": {
                    "request_id": "={{ $('Supabase: Init Request').item.json.id }}",
                    "agent_name": "Politico",
                    "message": "Iniciando análise política...",
                    "status": "info"
                }
            },
            "id": "log-pol-start",
            "name": "Log: Pol Start",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                800,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.MCP_API_URL }}/health",
                "method": "GET",
                "options": {}
            },
            "id": "agent-politico",
            "name": "SETUP REQUIRED: Agente Politico",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                100
            ]
        },
        {
            "parameters": {
                "tableId": "agent_logs",
                "operation": "create",
                "columns": {
                    "request_id": "={{ $('Supabase: Init Request').item.json.id }}",
                    "agent_name": "Fiscal",
                    "message": "Iniciando auditoria fiscal...",
                    "status": "info"
                }
            },
            "id": "log-fis-start",
            "name": "Log: Fis Start",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                800,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.MCP_API_URL }}/health",
                "method": "GET",
                "options": {}
            },
            "id": "agent-fiscal",
            "name": "SETUP REQUIRED: Agente Fiscal",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "mode": "wait"
            },
            "id": "merge",
            "name": "Merge Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1200,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.MCP_API_URL }}/health",
                "method": "GET",
                "options": {}
            },
            "id": "llm-synthesizer",
            "name": "SETUP REQUIRED: Sintetizador",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1400,
                0
            ]
        },
        {
            "parameters": {
                "tableId": "requests",
                "operation": "update",
                "id": "={{ $('Supabase: Init Request').item.json.id }}",
                "columns": {
                    "status": "completed",
                    "final_response": "={{ $json.text }}"
                }
            },
            "id": "supabase-final",
            "name": "Supabase: Final Update",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1600,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Chat": {
            "main": [
                [
                    {
                        "node": "Supabase: Init Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Init Request": {
            "main": [
                [
                    {
                        "node": "SETUP REQUIRED: Orquestrador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SETUP REQUIRED: Orquestrador": {
            "main": [
                [
                    {
                        "node": "Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Router": {
            "main": [
                [
                    {
                        "node": "Log: Leg Start",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log: Pol Start",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log: Fis Start",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log: Leg Start": {
            "main": [
                [
                    {
                        "node": "SETUP REQUIRED: Agente Legislativo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SETUP REQUIRED: Agente Legislativo": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log: Pol Start": {
            "main": [
                [
                    {
                        "node": "SETUP REQUIRED: Agente Politico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SETUP REQUIRED: Agente Politico": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log: Fis Start": {
            "main": [
                [
                    {
                        "node": "SETUP REQUIRED: Agente Fiscal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SETUP REQUIRED: Agente Fiscal": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                [
                    {
                        "node": "SETUP REQUIRED: Sintetizador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SETUP REQUIRED: Sintetizador": {
            "main": [
                [
                    {
                        "node": "Supabase: Final Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}